<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="wap-font-scale" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <link rel="shortcut icon" type="images/x-icon" href="../images/logo/bing.ico" />
    <title th:text="${title}"></title>
    <meta name="author" th:content="${author}" />
    <meta name="version" content="v1.0" />
    <meta name="keywords" th:content="${keywords}" />
    <meta name="description" th:content="${description}" />
    <link href="//cdn.staticfile.net/layui/2.9.13/css/layui.css" rel="stylesheet">
    <link href="../css/detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.net/waline/3.0.0-alpha.10/waline.css" />
    <script src="https://cdn.staticfile.net/jquery/3.7.1/jquery.slim.min.js"></script>
</head>
<body>
<div class="preview-image">
    <div class="preview-image-container">
        <img th:src="${detailUrl}">
    </div>
</div>
<div class="header">
    <div class="container">
        <h1>
            <div class="left-btn">
                <div class="layui-btn-container">
                    <button type="button" class="layui-btn layui-btn-radius" onclick="window.history.back()"><i class="layui-icon layui-icon-left layui-font-12"></i>返回</button>
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" onclick="window.location.href=window.location.protocol + '//' + window.location.host + '/index'"><i class="layui-icon layui-icon-website layui-font-12"></i>首页</button>
                </div>
            </div>
            <div class="right-btn">
                <div class="layui-btn-container">
                    <button type="button" class="layui-btn layui-btn-radius layui-bg-orange" id="btn-api">API</button>
                    <button type="button" class="layui-btn layui-btn-radius layui-bg-blue" id="btn-feed_back">反馈</button>
                </div>
            </div>
        </h1>
    </div>
</div>

<div class="desc">
    <div class="layui-font-20 layui-padding-2" th:text="${desc}"></div>
    <div class="layui-font-16 layui-padding-2 story" th:utext="${story}"></div>
</div>

<div class="preview-pagination">
    <div class="left-preview-btn">
        <button th:if="${lastPage} != null" type="button" class="layui-btn layui-btn-sm layui-btn-normal" th:onclick="location.href='[(${lastPage})]'">
            <i class="layui-icon layui-icon-left" style="font-size: 46px"></i>
        </button>
    </div>
    <div class="right-preview-btn">
        <button th:if="${nextPage} != null" type="button" class="layui-btn layui-btn-sm layui-btn-warm" th:onclick="location.href='[(${nextPage})]'">
            <i class="layui-icon layui-icon-right" style="font-size: 46px"></i>
        </button>
    </div>
</div>

<div class="footer">
    <span>2024 <a target="_blank" href="https://monkey.blog.xpyvip.top/">©Monkey部落</a>&nbsp;本站所有图片版权均属于必应搜索&nbsp;&nbsp;&nbsp;&nbsp;页面样式参考github xinac721&nbsp;&nbsp;感谢xinac721开源项目</span>
</div>

<div id="api-body" style="display: none;">
    <table class="layui-table">
        <colgroup>
            <col width="25%">
            <col width="40%">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td th:text="${shortDesc}" colspan="2" align="center"></td>
            <td rowspan="3">2</td>
        </tr>
        <tr>
            <td align="center">图片刷新时间：每天00:30</td>
            <td align="center" th:text="'API调用总次数：' + ${visitCount} + '次'"></td>
        </tr>
        <tr>
            <td align="center">首页</td>
            <td><a target="_blank" th:href="${url}" th:text="${url}"></a></td>
        </tr>
        <tr>
            <td align="center" rowspan="2">当天图片</td>
            <td><a target="_blank" th:href="${url} + '/image'" th:text="${url} + '/image'"></a></td>
            <td>1080P</td>
        </tr>
        <tr>
            <td><a target="_blank" th:href="${url} + '/image/4K'" th:text="${url} + '/image/4K'"></a></td>
            <td>4K</td>
        </tr>
        <tr>
            <td align="center">随机图片</td>
            <td colspan="2"><a target="_blank" th:href="${url} + '/image/random'" th:text="${url} + '/image/random'"></a></td>
        </tr>
        <tr>
            <td align="center" rowspan="2">参数说明</td>
            <td colspan="2">
                <a target="_blank" th:href="${url} + @{/image?day={day}(day=${#dates.format(new java.util.Date(), 'yyyy-MM-dd')})} + '&size=1920x1080&type=jpg'" th:text="${url} + '/image?day=' + ${#dates.format(new java.util.Date(), 'yyyy-MM-dd')} + '&size=1920x1080&type=jpg'"></a>
                <a target="_blank" th:href="${url} + @{/image?day={day}(day=${#dates.format(new java.util.Date(), 'yyyy-MM-dd')})} + '&width=1920&height=1080&type=jpg'" th:text="${url} + '/image?day=' + ${#dates.format(new java.util.Date(), 'yyyy-MM-dd')} + '&width=1920&height=1080&type=jpg'"></a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span th:text="'day=' + ${#dates.format(new java.util.Date(), 'yyyy-MM-dd')}"></span> &nbsp;指定日期（2010-01-01到现在），随机图像接口无效，可以省略<br>
                size=1920x1080&nbsp;指定分辨率大小<br>
                width=1920&nbsp;指定指定宽度<br>
                height=1080&nbsp;指定指定高度<br>
                type=jpg&nbsp;指定图片格式<br>
                <span style="color: #f00">size\width\height设置一项即可，同时设置，优先使用size的值</span>
            </td>
        </tr>
        <tr>
            <td align="center">分辨率</td>
            <td colspan="2">
                UHD , 1920x1200 , 1920x1080 , 1366x768 , 1280x768 ,1024x768 , 800x600 , 800x480 , 768x1280 ,720x1280 , 640x480 , 480x800 , 400x240 , 320x240 , 240x320
            </td>
        </tr>
        <tr>
            <td align="center">图片格式</td>
            <td colspan="2">
                JPG, jpg, JPEG, jpeg, PNG, png, webp
            </td>
        </tr>
        <tr>
            <td align="center">调用方式</td>
            <td colspan="2">
                <xmp style="display: contents"><img th:src="@{${url} + '/image/'}"/></xmp>放在指定位置即可
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- HTML Content -->
<script src="//cdn.staticfile.net/layui/2.9.13/layui.js"></script>
<script type="module">
    import { init } from 'https://cdn.staticfile.net/waline/3.0.0-alpha.10/waline.js';
    // $('.preview-image-container').css("background","url('[[${detailUrl}]]') center center \/ cover no-repeat");
    // Usage
    layui.use(function(){
        var $ = layui.$;

        // 按钮
        $('#btn-feed_back').on('click', function(){
            layer.open({
                type: 1, // page 层类型
                area: ['800px', '600px'],
                title: '系统反馈（请文明发言，留言审核后才会展示！）',
                shade: 0.6, // 遮罩透明度
                shadeClose: true, // 点击遮罩区域，关闭弹层
                maxmin: true, // 允许全屏最小化
                anim: 0, // 0-6 的动画形式，-1 不开启
                content: '<div id="feed-back-body"></div>'
            });

            init({
                el: '#feed-back-body',
                serverURL: '[[${feedBackUrl}]]',
                imageUploader: false,
                search: false,
                copyright: false
            });
        });

        // 按钮
        $('#btn-api').on('click', function(){
            layer.open({
                type: 1, // page 层类型
                area: ['800px', '600px'],
                title: 'bing图片API接口',
                shade: 0.6, // 遮罩透明度
                shadeClose: true, // 点击遮罩区域，关闭弹层
                maxmin: true, // 允许全屏最小化
                anim: 0, // 0-6 的动画形式，-1 不开启
                content: $('#api-body')
            });
        });
    });

</script>
</body>
</html>